{{{repeat "#" (config "features.titleLevel")}}} {{config "features.name"}}

{{#each (features)}}
- [{{ this.title }}](#{{kebab this.title}})
{{/each}}

{{#each (features)}}

<a name="{{kebab this.title}}"></a>

{{{repeat "#" (config "features.featureTitleLevel")}}} {{ this.title }}

{{#if (this.description)}}{{this.description}}{{/if}}
{{{jsCodeToMd this.code}}}
{{/each}}
